
/* seccion raiz */

:root{
    --black-color: #252424;
    --white-color: white;
    --letras-obscuras: gray;
}

body {
    margin: 2px;
    padding: 0;
    background-color: var(--black-color);
}

/*  inicia la seccion de la barra de navegacion */

.nav-bar{
    margin-top: -90px;
    background-color: var(--black-color);
    display: grid;
    grid-template: 100px / 1fr 1fr;
    grid-template-areas: "navLogo navLogo";

}

.nav-img-container{
    align-items: center;
    margin: auto;
    grid-area: navLogo;
}

#logo{
    width: 320px;
    height: 100px;
}

/* contenedor general */

.main-container{
    margin: 0;
    background-color: var(--black-color);
    display: grid;
    grid-template: 1fr / 1fr;
    gap: 2px;
}

/* seccion Hero */

.hero{
    background-color: var(--black-color);
    display: grid;
    grid-template: 73px 350px 100px / 1fr;
    grid-template-areas: 
    "saludo"
    "fotoPerfil"
    "saludo2"
     ;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid red;
    gap: 2px;
}

.init{
    width: 100%;
    height: 100%;
    grid-area: saludo;
    padding: 0 2px;
    font-family: 'Fjalla One', sans-serif;
    color: var(--letras-obscuras);
}

.init strong{
    color: var(--white-color);
}

.hero-img-wrap{
    grid-area: fotoPerfil;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color);
    

}

.hero-img{
    margin: 0;
    width: 70%;
    height: 70%;
    border: .1px solid var(--black-color);
    border-radius: 50%;
    background-image: url('https://ihoqig.dm.files.1drv.com/y4mSrJu2RCDKpy5ZFr9C6MIa_4ACcTEQA8TElpHusXfcsjt1Iuvt6ThT-DJ65cRoGqIo_3lufpongOUBkqEJvdH3CDGOfgvifuUuOWAzEFkelvmiVF36AChKyhmvejeN5kn-mRXHO_TPuepQ79Y-deyBTAdd0KuXp9B8505nMicflC3AMPAJANfX7Ew75iZlkxlbPWXcTWacqR4OawjywroGA?');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px 250px;
}

.greting{
    grid-area: saludo2;
    padding: 0 2px;
    font-family: 'Fjalla One', sans-serif;
    color: var(--letras-obscuras);
}

.greting strong{
    color: var(--white-color);
}